@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app .nc-loading:before {
  animation: nc-dots 1s infinite;
  content: '.';
  color: var(--bs-gray-500);
}

#app .nc-hide-when-empty:empty {
  display: none;
}

@keyframes nc-dots {
  0% {
    content: '.';
  }

  33% {
    content: '..';
  }

  67% {
    content: '...';
  }
}

#app {
  position: relative;
  height: 100vh;
  overflow: auto;
  background-image: url('../assets/sun-faded.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#app .card {
  position: relative;
}

#app .card,
#app .nc-search-input-container {
  background-color: transparent;
  overflow: hidden;
}

#app .nc-search-input-spacer {
  transition: 375ms ease-in-out all;
}

#app .card:after,
#app .nc-search-input-container:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--bs-white);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: blur(8px) opacity(0.5);
  -webkit-filter: blur(8px) opacity(0.65);
}

#app .card > .card-body,
#app .nc-search-input-container > * {
  position: relative;
  z-index: 10;
}
