@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nc-loading:before {
    animation: dots 1s infinite;
    content: '.';
    color: var(--bs-gray-500);
}

.nc-hide-when-empty:empty {
    display: none;
}

@keyframes dots {
    0% {
        content: '.';
    }

    33% {
        content: '..';
    }

    67% {
        content: '...';
    }
}

#app:after {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/sun.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: blur(8px) saturate(.5) opacity(.25);
    -webkit-filter: blur(8px) saturate(.5) opacity(.25);
}

#app > .container {
    position: relative;
    z-index: 10;
}

.search-input-container {
    transition: 375ms ease-in-out all;
}

.card,
.nc-input-container {
    background-color: transparent;
    overflow: hidden;
}

    .card:after,
    .nc-input-container:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--bs-white);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        filter: blur(8px) opacity(.5);
        -webkit-filter: blur(8px) opacity(.65);
    }

    .card > .card-body,
    .nc-input-container > * {
        position: relative;
        z-index: 10;
    }

